<% @page_title = "edit member information" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "back to members", [:admin, @member] %></div>


<%= form_for [:admin, @member] do |form| %>
    <%= render "shared/member_form", form: form %>
    <div><%= form.submit %></div>
<% end %>

